<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>MindHub Brothers Bank</title>
  <link rel="stylesheet" href="./styleLogIn.css">
  <link rel="shortcut icon" href="./assets/logoMuñecoSinFondo.png" type="image/x-icon">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.all.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.min.css" rel="stylesheet">
</head>
<body id="app">
<!-- partial:index.partial.html -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Helvetica">

<!-- about -->
<div class="about">
   <a class="bg_links social portfolio" href="https://mindhubweb.com/bootcamps" target="_blank">
      <span class="icon"></span>
   </a>
   <a class="bg_links social dribbble " href="https://github.com/Flor87Posta" target="_blank">
      <span class="icon"></span>
   </a>
   <a class="bg_links social linkedin " href="https://www.linkedin.com/in/florencia-postacchini" target="_blank">
      <span class="icon"></span>
   </a>
   <a class="bg_links logo"></a>
</div>
<!-- end about -->
<header>
        <nav>
            <ul>
                <li><a href="./index.html">Index</a></li>
                <li><a href="./accounts.html">Accounts</a></li>
                <li><a href="./cards.html">Cards</a></li>
                <li><a href="./transfers.html">Transfers</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="./login.html" @click="logout">Log Out</a></li>
            </ul>
        </nav>
</header>
    
            <template v-if="mostrarFormulario1">
                <div class="login-box">
                    <h2>Created Card</h2>
                    <form  id="formCreatedCard">   
                        <div>
                            <h3>Choose your card type:</h3>
                                    <label for='q1'>
                                        <input id='q1' name='q' type='radio' value="CREDIT" v-model="typeCardCreated">
                                        CREDIT
                                    </label>
                                    <label for='q2'>
                                        <input id='q2' name='q' type='radio' value="DEBIT" v-model="typeCardCreated">
                                        DEBIT
                                    </label>
                        </div>
                        <div>
                            <h3>Choose your card color:</h3>
                                    <label for='q3'>
                                        <input id='q3' name='Z' type='radio' value="GOLD" v-model="colorCard">
                                        GOLD
                                    </label>
                                    <label for='q4'>
                                        <input id='q4' name='Z' type='radio' value="SILVER" v-model="colorCard">
                                        SILVER
                                    </label>
                                    <label for='q5'>
                                        <input id='q5' name='Z' type='radio' value="TITANIUM" v-model="colorCard">
                                        TITANIUM
                                    </label>

                                    <input type="button" value="Created" @click="newCard"> 
                                    <input type="button" value="Back" onclick="window.location.href='http://localhost:8080/web/cards.html'">
                        </div>
                        <input type="button"  value="Request cancellation" @click="showForm"> 
                    </form>
                </div>
            </template>


            <template v-if="formVisible">
                <div class="login-box">
                    <h2 >Cancellation Card</h2>
                    <form>   
                        <div>
                            <h3>Choose your card:</h3>
                                    <label for='q1'>
                                        <input id='q1' name='q' type='radio' value="CREDIT" v-model="typeCardCreated">
                                        CREDIT
                                    </label>
                                    <label for='q2'>
                                        <input id='q2' name='q' type='radio' value="DEBIT" v-model="typeCardCreated">
                                        DEBIT
                                    </label>
                                    <div v-if="typeCardCreated=='CREDIT'"> 
                                        <select v-model="requestedNumber">
                                            <option v-for="card in creditCards" :value="card.number ">{{ card.number }}</option>
                                        </select>
                                    </div>
                                    <div v-if="typeCardCreated=='DEBIT'"> 
                                        <select v-model="requestedNumber">
                                            <option v-for="card in debitCards" :value="card.number">{{ card.number }}</option>
                                        </select>
                                    </div>
                                    
                                    <input type="button" value="cancellation" @click="deleteCard"> 
                                    <input type="button" value="Back" onclick="window.location.href='http://localhost:8080/web/cards.html'">
                        </div>               
                    </form>
                </div>
            </template>
        
    



<!-- partial -->
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="./create-cards.js"></script>
</body>
</html>